{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    {{ block.super }} - New Client
{% endblock title %}


{% block mainContent %}
<div class="container">
    <div class="row" >
        <div class="col-md-2"></div>
        <div class="col">
        <br>
        <h1>Create New Client</h1>
        <hr>
        <div class="">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}<br>
                <button type="submit" class="btn btn-success">Save client</button><br><br>
            </form>
        </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock mainContent %}
